/*white letterbox bars */

.bc-iframe,
.bc-iframe body,
.bc-player-4G9qwyNds_default,
.bc-player-4G9qwyNds_default .vjs-poster {
  background-color: #ffffff;
}

/*disable pause stream*/

.video-js .vjs-control-bar .vjs-play-control {
  pointer-events: none;
}

.video-js .vjs-overlay {
  height: 100%;
  width: 100%;
  bottom: 0px;
  left: 0px;
  top: 0px;
  opacity: 0;
  background: #ffffff00;
}

.video-js .vjs-overlay-background {
  background-color: rgba(255, 255, 255, 0);
}
